body {
    display: flex;
    background-color: rgb(245, 245, 245);
    margin: 0;
    height: 100vh;
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

details:hover {
    cursor: pointer;
}

.container {
    border-right: 1px solid grey;
    padding: 0;
}

.container > * > * {
    padding: 0 10px;
}

.container:nth-child(2) {
    flex: 1;
}

.container:last-child {
    border: 0;
}

.container-header,
.container .item-container .search-form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid rgb(85, 85, 85);
    height: 25px;
}

.container-header p {
    margin: 0;
    padding: 0;
    color: rgb(85, 85, 85);
}

.destination details {
    margin-bottom: 20px;
}

.destination summary {
    color: rgb(85, 85, 85);
}

.destination .amazon p,
.destination .other p {
    margin: 5px 0;
    padding-left: 30px;
    font-weight: bold;
}

.destination .amazon .blue {
    color: blue;
}

.destination .amazon .green {
    color: green;
}

.destination .amazon .red {
    color: red;
}

.item-container {
    display: flex;
    flex-direction: column;
}

.item-container .search-form input {
    width: 40%;
}

.item-list {
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 5px;
    padding: 5px;
}

.item > * {
    margin: 0 5px;
}

.item:nth-child(odd) {
    background-color: rgb(221, 221, 221);
}

.item :last-child {
    justify-self: flex-end;
    margin-left: auto;
}

.blue,
.green,
.red,
.happy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}

#container-count {
    font-size: 12px;
    color: rgb(85, 85, 85);
}

.process {
    display: flex;
    flex-direction: column;
}

.selected-items,
.weight,
.dimensions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.weight .weight-inputs {
    display: flex;
    align-items: center;
    gap: 10px;
}

.pound,
.ounce {
    display: flex;
    align-items: center;
    gap: 5px;
}

.weight input {
    width: 25px;
    height: 20px;
    text-align: center;
}

.dimensions input {
    width: 20px;
    height: 20px;
    text-align: center;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#selected-item,
#selected-container {
    background-color: lightblue;
}

.search-form input {
    margin-right: 10px;
}
